<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Leonardo Morari e Nicolas Gustavo" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/generic.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/info-modal.css" />
    <link rel="stylesheet" href="/styles/sucess-modal.css" />
    <link rel="stylesheet" href="/styles/registerProduct.css" />
    <title>Drinks Perfeitos</title>
  </head>

  <!--Cabeçalho da pagina - Realização de Logoff-->
  <%- include('partials/home/header') %>

  <body>
    <!--Sessão inicial, apresentando a Casa do Drink-->
    <section class="container-1">
      <div class="text-container">
        <p>Venha para</p>
        <p class="principal">Casa do <span>Drink</span></p>
        <p>Explore os drinks mais incríveis e surpreenda-se com sabores únicos.</p>
        <p>Faça já sua reserva</p>
        <div>
          <button class="btn-registra" type="button" id="openModal" title="Realizar reserva">Realizar reserva</button>
        </div>
      </div>

      <div class="img-container">
        <img src="/img/copo.avif" alt="drinks" title="drinks" />
      </div>
    </section>

    <section class="container-2">
      <div class="container-title">
        <div class="title">
          <p>Bebidas que Encantam</p>
          <p>Alguns de nossos <span>Drinks</span></p>
        </div>
      </div>
      <% if (isAdmin) { %>
      <div class="container-cadastro">
        <button class="btn-cadastrar-produto" id="openModalcadastroProduto">
          <i class="fa-solid fa-plus fa-2xl" style="color: #fcfcfc"></i>
        </button>
        <p>Cadastrar Bebidas</p>
      </div>
      <% } %>
      <div class="card-container"><%- include('partials/home/drinks') %></div>
    </section>

    <%- include('partials/home/modalBooking') %> <%- include('partials/home/modalSuccess') %> <%-
    include('partials/home/modalDrink') %> <%- include('partials/home/drinkDescription') %>

    <footer>
      <p>© 2024 Casa do Drink. Todos os direitos reservados.</p>
    </footer>

    <%if (typeof showSuccessModal !== 'undefined') { %>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const successModal = document.getElementById('successModal');
        if (successModal) {
          successModal.style.display = 'block';
        }
        setTimeout(() => {
          window.location.href = '/home';
        }, 500);
      });
    </script>
    <% } %>
    <script src="/js/form.js"></script>
    <script src="/js/modal-info.js"></script>
    <script src="/js/registerProduct.js"></script>
    <script>
      const drinksToUse = JSON.parse('<%- JSON.stringify(drinks)%>');
    </script>
  </body>
</html>
